[project]
	description = The translation of RTMFP
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/caoxudong (caoxudong)
[access "refs/for/refs/*"]
	read = group user/caoxudong (caoxudong)
	push = group user/caoxudong (caoxudong)
	label-Code-Review = -2..+2 group user/caoxudong (caoxudong)
	label-Verified = -1..+1 group user/caoxudong (caoxudong)
	rebase = group user/caoxudong (caoxudong)
	removeReviewer = group user/caoxudong (caoxudong)
	submit = group user/caoxudong (caoxudong)
[access "refs/heads/*"]
	read = group user/caoxudong (caoxudong)
	create = group user/caoxudong (caoxudong)
	push = +force group user/caoxudong (caoxudong)
	pushMerge = group user/caoxudong (caoxudong)
[access "refs/tags/*"]
	push = +force group user/caoxudong (caoxudong)
	pushTag = group user/caoxudong (caoxudong)
	pushSignedTag = group user/caoxudong (caoxudong)
